/*apply to everything*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*apply to everything in the body*/
body {
    background-color: #d9dcd6;
}

/*apply to every anchor*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*apply to all paragraph*/
p {
    font-size: 16px;
}

/* attribute of the entire header banner*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* attribute of the company name in the header */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/*Change the color of the "SEO" in the company in the header*/
.header .seo {
    color: #d9dcd6;
}

/*attribute of the div in the header in which the links are stored*/
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}


/*attribute of the links in the header. They now appear next to one another*/
.header li {
    display: inline-block;
    margin-left: 25px;
}



/*defines the size and attribute of the main photo on the page*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*refer to the block in the middle of the page where the main content is.*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*defines the attribute for each subject in the content section*/
.online-reputation-management, .search-engine-optimization, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*both ".float" modify where the image will appear in the subject.*/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/*attribute for every img in the "content" div*/
.content img{
    max-height: 200px;
}

/*attribute for every h2 in the "content" div*/
.content h2{
    margin-bottom: 20px;
    font-size: 36px;
}

/*refer to the column on the right of the page*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    
}

/*attribute for each sectoin of the "benefits" div*/

.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/*attribute for every h3 in the "benefits" div*/
.benefits h3{
    margin-bottom: 10px;
    text-align: center;
}

/*attribute for every img in the "benefits" div */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*apply to everything in the footer*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*modify th efont size of the h2 in the footer*/
.footer h2 {
    font-size: 20px;
}
